/* 注册表统一 */
.registercontent{
    width: 600px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border: 1px solid #2890fa;
    background: rgba(14, 100, 185, 0.2);
    border-radius: 5px;
}
/*内表*/
.list1{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #2890fa;
    border-radius: 5px;
    margin-top:30px;
    margin-left:80px;
    font-size: 18px;
    text-align: center;
}
/*输入框*/
.input1{
    background: rgba(0, 0, 0, 0);
    border: 0;
    height: 30px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid rgba(40, 144, 250, 0.4);
    padding-left: 5px;
}
/*lauyi输入框修改 选择框*/
.layui-input{
    border: 1px solid #2890fa;
    border-radius: 5px;
    width: 40%;
    margin-left:55%;
    margin-top: 5%;
}
/*抬头小标题*/
.title{
    margin-top: 5px;
    text-align: center;
}
/*凭证上传的图片*/
.updateimg{
    left:20px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    position: relative;
}

