# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\21\ATM-send-inter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
